body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:pink;
}

header {
    background-color:gray;
    color:white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color:black;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}
